
<h6 class="home">Go to <a routerLink="/home" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
</svg></a> page</h6>
<div class="text-center pt-3"><h2>User Profile</h2></div>
<div class="row justify-content-center">
 
  
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-3 pt-5 " >
      
      <div class="card p-100 w-250 d-flex flex-colunm ">
        <div class="card-body w-100" >
        <img  class="card-img-top i pb-3" src="https://seekicon.com/free-icon-download/person-fill_1.svg">
          <h5 class="card-title">Name:{{loggedInUser.firstname}} 
          </h5>
          <p class="card-text">Email:{{loggedInUser.email}}</p>
          <p class="card-text">Phone:{{loggedInUser.phone}}</p>
          
        </div>
        
      </div>
      
    </div>
    
    <div >
      <div>

        </div>
