<div class="container ">
    <form class="form-group f" [formGroup]="user" #ref="ngForm" (ngSubmit)="reset()"> 
    
        <div class="pb-3">
            <label for="token" class="form-label ">token<small class="e">*</small></label>
            <input type="text" formControlName="token" id="id" class="form-control " placeholder="Token" required>
            <div *ngIf="
            token?.invalid &&
            (token?.dirty || token?.touched || ref.submitted)
          " class="text-danger">
                <p *ngIf="token?.errors?.['required']">User token is required</p>
                </div>
               
            
        </div>
        <div class="mb-2">
            
            <input type="password" formControlName="password" id="password"  placeholder="Password" class="form-control">
            <!-- validation msg for password -->
        <div *ngIf="
        password?.invalid &&
        (password?.dirty || password?.touched || ref.submitted)
      " class="text-danger">
      <p *ngIf="password?.errors?.['required']">Password is required</p>
  </div>
        </div>

        <div class="mb-2">
            
          <input type="password" formControlName="confirmpassword" id="confirmpassword"  placeholder="Confirm password" class="form-control">
          <!-- validation msg for confirmpassword -->
      <div *ngIf="
      confirmpassword?.invalid &&
      (confirmpassword?.dirty || confirmpassword?.touched || ref.submitted)
    " class="text-danger">
    <p *ngIf="confirmpassword?.errors?.['required']">Confirm password is required</p>
</div>
      </div>
        <div class="text-center pb-3">
            
    <button type="submit" class="btn s px-5">
        Submit
    </button>
        </div>
       
    </form>
    </div>
    
      
    