<app-header style="font-family: 'Raleway', sans-serif"></app-header> 
<div class="container pt-3" style="font-family: 'Raleway', sans-serif">
  <router-outlet></router-outlet>

</div>
<ng-toast></ng-toast>
<app-footer style="font-family: 'Raleway', sans-serif"></app-footer>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">