<!-- <p class="h1 text-center mt-5 pb-3 a">Login</p>
@if(userCredErr.userCredErrStatus){
  <p class="text-center text-danger">Login Error: {{userCredErr.userCredErrMsg}}</p>  
} -->
<div class="container ">
    <form class="form-group f" [formGroup]="user" #ref="ngForm" (ngSubmit)="forgot()"> 
    
        <div class="pb-3">
            <label for="id" class="form-label ">id<small class="e">*</small></label>
            <input type="text" formControlName="id" id="id" class="form-control " placeholder="User Id" required>
            <div *ngIf="
            id?.invalid &&
            (id?.dirty || id?.touched || ref.submitted)
          " class="text-danger">
                <p *ngIf="id?.errors?.['required']">User Id is required</p>
                </div>
               
            
        </div>
    
        <div class="text-center pb-3">
            
    <button type="submit" class="btn s px-5">
        <a routerLink="/reset" routerLinkActive="active" class="l">Submit</a> 
    </button>
        </div>
       
    </form>
    </div>
    
      
    