.details{
    display: flex;
    justify-content: flex-start;
}
.features{
    display: flex;   
    
}

.b{
    border: solid 2px coral;
}
.b:hover{
    background-color: coral;
    color: white;
}
.s{
    background-color: white;
    border: solid 2px coral;
}
.s:hover{
    background-color: coral;
    color: white;
   
}
.c{
   
    border: solid 2px coral;
    


}
.c:hover{
    
    box-shadow: rgba(245, 161, 64, 0.925) 0px 15px 25px;


}

